@import "material-colors";

$color-primary: #673ab7;
$color-primary-dark: #320b86;
$color-primary-light: #9a67ea;
$color-accent: #ffeb3b;
$color-accent-dark: #c8b900;
$color-accent-light: #ffff72;
$color-text: #ffffff;
$color-text-secondary: #000000;