@import "../util/material-colors";
@import "../util/colors";

.pagination {
  background: #FFF;
  font-size: 2.4em;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 2px;
  align-items: center;

  @media (min-width: 40em) {
    width: 50%;
  }

  &__container {
    box-sizing: border-box;
    list-style: none;
    padding: .4em;
    margin: .8em 0;
    display: flex;
    justify-content: space-between;

    &__page, &__nav {
      color: $color-text-secondary;
      transition: all 150ms ease;

      a {
        cursor: pointer;
        transition: all 150ms ease;

        &:hover {
          color: $color-primary;
        }

      }

      &--active {
        font-weight: bold;
        color: $color-primary-light;
      }

      &.disabled {
        color: material-color('grey', '400');
        a {
          cursor: not-allowed;
        }
      }
    }
  }
}