@import "../util/colors";

.hero {
  position: relative;
  background: $color-primary-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 1.6em;
    .link {
      flex-basis: 100%;
      font-size: 2.4em;

      @media (min-width: 32em) {
        flex-basis: 25%;
        flex-grow: 1;
      }
    }
  }

  &__banner {
    z-index: 1;
    background: $color-accent-light;
    width: 100%;
    text-align: center;
    padding: 2em 0;
    min-height: 16em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--shadow {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    &__icon {
      text-align: center;
      position: absolute;
      top: 1.6em;
      fill: $color-text;
      z-index: 0;
      margin: auto;
      height: auto;
      max-height: 8em;
      opacity: .5;
      left: 50%;
      transform: translateX(-50%);
    }

    &__text {
      text-align: center;
      span {
        font-size: 6.4em;
      }
    }
  }
}

.content {
  min-height: 100%;
  position: relative;
  overflow: auto;
}

.app-bar {
  display: none;

  &__icon {
    width: 100% !important;
    height: 100% !important;
  }

  &--show {
    display: block;
  }
}

.about-section {
  padding: 1.6em;
  background: linear-gradient($color-primary-dark, darken($color-primary-dark, 7), #212121);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    span {
      color: $color-text;
      font-size: 3.2em;

      @media(min-width: 32em) {
        font-size: 4.8em;
      }
    }
  }

  &__text {
    color: $color-text;
    font-size: 2.4em;
    margin: .8em auto;
    width: 90%;
    text-align: center;
  }
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  &__title, &__subtitle {
    text-align: center;
    color: $color-text;

    span {
      line-height: 160%;
    }
  }

  &__title {
    margin-top: 1.6em;
    span {
      font-size: 3.2em;
      @media (min-width: 32em) {
        font-size: 4.8em;
      }
    }
  }

  &__subtitle {
    margin-bottom: 1.6em;
    span {
      font-size: 1.6em;
      @media (min-width: 32em) {
        font-size: 3.2em;
      }
    }

  }

  &__cards {
    padding: 1.6em;
    margin: 1.6em 0;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__card {
    background: #FFF;
    border-radius: .4em;
    margin: 1.6em;
    flex-basis: 100%;

    @media (min-width: 32em) {
      flex-basis: 25%;
    }

    &__image {
      max-height: 16em;
    }

    &__excerpt {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__loading {
    display: flex;
    flex-direction: column;
    span {
      text-align: center;
      color: $color-text;
      font-size: 2.4em;
    }
  }
}

.contact-section {
  padding: 1.6em;
  margin: 1.6em 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: $color-text;

  &__title {
    text-align: center;
    span {
      font-size: 4.8em;
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &__link {
      display: flex;
      flex-direction: column !important;
      align-items: center;
      justify-content: center;

      font-size: 2.4em;
      margin: 1.6em;

      &__icon {
        margin: .2em;
        font-size: 2em;
      }
    }
  }
}

.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__title {
    flex-basis: 100%;
    text-align: center;
    margin: 3.2em 0;
    span {
      color: $color-text;
      font-size: 3.2em;
      @media (min-width: 32em) {
        font-size: 4.8em;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: 3.2em auto;
    width: 90%;

    &__card {
      margin: 1.6em;
      flex-basis: 16em;
      max-height: 32em;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      @media (min-width: 32em) {
        flex-grow: 0;
      }

      @media (min-width: 64em) {
        flex-basis: 18em;
      }

      @media (min-width: 128em) {
        flex-basis: 22em;
      }

      &--delay-animation {
        @for $time from 0 through 5 {
          &-#{$time}s {
            animation-delay: #{$time/4}s;
          }
        }
      }

      &__image {
        max-height: 16em;
      }

      &__excerpt {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  &__loading {
    display: flex;
    flex-direction: column;
    span {
      color: $color-text;
      font-size: 2.4em;
    }
  }
}

.footer {
  background: $color-accent-dark;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8em;
  min-height: 2.4em;
  color: $color-text-secondary;
}