/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.loader,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em; }

.loader {
  margin: 1.6em auto;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(154, 103, 234, 0.75);
  border-right: 1.1em solid rgba(154, 103, 234, 0.75);
  border-bottom: 1.1em solid rgba(154, 103, 234, 0.75);
  border-left: 1.1em solid #320b86;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear; }
  .loader--accent {
    border-top: 1.1em solid rgba(255, 255, 185, 0.75);
    border-right: 1.1em solid rgba(255, 255, 185, 0.75);
    border-bottom: 1.1em solid rgba(255, 255, 185, 0.75);
    border-left: 1.1em solid #b9ab00; }

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
