.portfolio-posts-list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.portfolio-posts-list__card {
  flex-basis: 90%;
  margin: .8em auto; }
  @media (min-width: 32em) {
    .portfolio-posts-list__card {
      flex-basis: 40%;
      max-width: 50%;
      margin: .8em; } }
  .portfolio-posts-list__card__image {
    max-height: 12em; }
