.portfolio-posts-detail__card {
  margin: 1.6em auto;
  width: 98%; }
  @media (min-width: 42em) {
    .portfolio-posts-detail__card {
      width: 75%; } }
  @media (min-width: 120em) {
    .portfolio-posts-detail__card {
      width: 50%; } }
  .portfolio-posts-detail__card__title--author {
    text-align: right;
    justify-content: flex-end;
    margin: .8em auto; }
  .portfolio-posts-detail__card__content {
    z-index: 1;
    margin-bottom: .8em;
    padding: 1.6em; }
    .portfolio-posts-detail__card__content img {
      text-align: center;
      max-width: 100%;
      width: auto;
      height: auto;
      margin: auto; }
    .portfolio-posts-detail__card__content__read-more {
      width: 100%;
      margin: .8em auto;
      text-align: center; }
  .portfolio-posts-detail__card__image {
    max-height: 32em; }
