.portfolio-posts-list {
  &__cards {
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    flex-basis: 90%;
    margin: 1.6em auto;

    @media (min-width: 32em){
      flex-basis: 40%;
    }

    &__image {
      max-height: 16em;
    }
  }
}