@import "../util/colors";

.link {
  text-align: center;
  color: $color-text;
  text-decoration: none;
  opacity: .65;
  transition: opacity 250ms ease;

  &:hover, &:active, &:focus {
    text-decoration: none;
    opacity: 1;
  }

  &--primary, &--white {
    color: $color-text;
  }

  &--accent, &--black {
    color: $color-text-secondary;
  }
}