@import "colors";

.footer {
  a {
    transition: all 500ms ease;
    color: map_get($white, 'base');
    &:hover {
      color: darken(map_get($white, 'base'), 15%);
    }
    &:visited {
      color: map_get($blue-grey, 300);
      &:hover {
        color: darken(map_get($white, 'base'), 15%);
      }
    }
  }
  .info {
    background-color: map_get($blue-grey, 500);
  }
  .last-line {
    background-color: map_get($blue-grey, 700);
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .info, .last-line {
    color: map_get($white, 'base');
    hr {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    div {
      &.title {
        margin-top: 1em;
        margin-bottom: 0;
        text-align: center;
        font-size: 2em;
      }
      &.content {
        margin-top: 1em;
      }
    }
  }
}