@import "header";
@import "footer";

.responsive-img {
  max-width: 100%;
  height: auto;
}

.full-height {
  height: 32em;
}

.container-fluid {
  margin: 0 5%;
}

.section-fluid {
  margin-top: 2em;
  margin-bottom: 2em;
}

.centered {
  text-align: center;
}

.title-row {
  text-align: center;
  font-size: 3em;
}

.six.columns {
  &.by-four {
    @media (max-width: 75em) {
      width: 100%;
      margin-left: 0;
    }
  }
}